<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<header>
    <p>ESFOT</p>
    <span>
            <a href="/">Ayuda</a>
            <a href="/">Aulas</a>
            <a href="/">Labos</a>
            <a href="/">Inicio</a>
        </span>
</header>
<div>
    <section>
        <h1>Bienvenido</h1>
        <p>Sistema de gestión de aulas y laboratorios de la
            <br>Escuela de formación de tecnólogos.</p>
        <img src="/">
    </section>
    <section>
        <h2>Laboratorios</h2>
        <span id="1">
            </span>
        <span id="2">
            </span>
        <span id="3">
            </span>
    </section>
    <section>
        <h2>Aulas</h2>
        <span id="4">
            </span>
        <span id="5">
            </span>
        <span id="6">
            </span>
    </section>
</div>
<footer>
    <section>
            <span>
                <h3>Redes Sociales</h3>
                <img src="/">
                <h4>Github</h4>
                <img src="/">
                <h4>Instagram</h4>
                <img src="/">
                <h4>Email</h4>
                <img src="/">
                <h4>Telp</h4>
                <br>
                <h4>EPN</h4>
            </span>
    </section>
</footer>
</body>
</html>